.places__paragraph {
    margin: 0;
    max-width: 484px;
    max-height: min-content;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 18px;
    line-height: 163%;
    font-weight: normal;
}

.places__paragraph:last-child {
    margin-top: calc(26px - 48px);
}

@media screen and (max-width: 768px) {
    .places__paragraph {
        max-width: 352px;
        font-size: 16px;
    }
    .places__paragraph:last-child {
        margin-top: calc(25px - 48px);
    }
}

@media screen and (max-width: 720px) {
    .places__paragraph {
        max-width: calc(100vw - 2*16px);
        margin: 0 16px;
    }
}