.russia-traveling__title {
    text-align: center;
    max-width: 720px;
    font-family: 'Inter-Black', sans-serif;
    font-size: 96px;
    line-height: 100px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .russia-traveling__title {
        max-width: calc(100vw - 2*24px);
        font-size: calc(100vw/8);
        line-height: calc(100vw/8 + 4px);
    }
}