.header__lang-link {
    margin: 0;
    color: white;
    max-width: 30px;
    max-height: 28px;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    align-self: end;
}

.header__lang-link:hover {
    opacity: 80%;
}

@media screen and (max-width: 768px) {
    .header__lang-link {
        max-width: calc(30px - (768px - 100vw)/56);
        max-height: calc(28px - (768px - 100vw)/56);
        font-size: calc(24px - (768px - 100vw)*3/224);
        line-height: calc(28px - (768px - 100vw)/56);
    }
}