.cover__subtitle {
    position: absolute;
    margin: 0;
    top: 429px;
    text-align: center;
    max-width: 360px;
    font-family: 'Inter-Regular', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    z-index: 2;
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
}