.photo-grid__item {
    max-width: 284px;
}

@media screen and (max-width: 1279px) {
    .photo-grid__item {
        max-width: 300px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid__item {
        max-width: calc(352px - (1023px - 100vw)/4);
    }
}

@media screen and (max-width: 767px) {
    .photo-grid__item {
        max-width: 288px;
    }
}

@media screen and (max-width: 288px) {
    .photo-grid__item {
        max-width: 100vw;
    }
}