.header {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr max-content max-content;
    max-width: 1184px;
    gap: 0 18px;
    max-height: 52px;
    padding: 28px 48px 0;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 28px 24px 0;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: calc(28px - (768px - 100vw)*3/112) calc(24px - (768px - 100vw)/56) 0;
    }
}
