.photos__image {
    max-width: 284px;
}

@media screen and (max-width: 1279px) {
    .photos__image {
        max-width: 300px;
    }
}

@media screen and (max-width: 1023px) {
    .photos__image {
        max-width: 352px;
    }
}

@media screen and (max-width: 767px) {
    .photos__image {
        max-width: 288px;
    }
}