.header__link {
    margin: 0;
    color: white;
    max-width: 29px;
    max-height: 28px;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 24px;
    line-height: 1.16;
}

@media screen and (max-width: 320px) {
    .header__link {
        max-width: 22px;
        max-height: 20px;
        font-size: 18px;
        line-height: 1.11;
    }
}