@font-face {
    src: url(./Inter-Black.ttf) format("ttf"),
        url(./Inter-Black.otf) format("otf"),
        url(./Inter-Black.woff2) format("woff2");
    font-family: 'Inter-Black';
}

@font-face {
    src: url(./Inter-Bold.ttf) format("ttf"),
        url(./Inter-Bold.otf) format("otf"),
        url(./Inter-Bold.woff2) format("woff2");
    font-family: 'Inter-Bold';
}

@font-face {
    src: url(./Inter-Regular.ttf) format("ttf"),
        url(./Inter-Regular.otf) format("otf"),
        url(./Inter-Regular.woff2) format("woff2");
    font-family: 'Inter-Regular';
}