.intro{
    display: flex;
    flex-direction: column;
    padding: 92px 0 0 calc((100vw - 984px)/2);
    max-width: 690px;
}

@media screen and (max-width: 1080px) {
    .intro {
        padding: 92px 48px 0;
    }
}

@media screen and (max-width: 1024px) {
    .intro {
        padding-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        padding-top: 88px;
        padding-left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 288px;
        padding-top: 64px;
        padding-left: 16px;
    }
}