.places__link-text {
    color: #AAAAAA;
    font-family: 'Inter-Regular';
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 2px;
    font-weight: normal;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .places__link-text {
        line-height: 12px;
    }
}