.lead__subtitle {
    max-width: 640px;
    text-align: center;
    font-family: 'Inter-Regular', sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    margin: 32px auto 0;
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        max-width: calc(640px - (768px - 100vw)*11/14);
        margin: calc(32px - (768px - 100vw)/28) auto 0;
        font-size: calc(30px - (768px - 100vw)/32);
        line-height: calc(36px - (768px - 100vw)/28);
    }
} 