.cover {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1184px;
    min-height: 740px;
    margin: 0 auto;
    margin-top: 92px;
    color: white;
}

@media screen and (max-width: 1184px) {
    .cover {
        margin-left: 0;
        margin-right: 0;
        min-height: calc(100vw / 1.6);
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin-top: calc(90px - (768px - 100vw)*3/56);
    }
}