.cover__background {
    position: absolute;
    background-image: url('../../../images/cover-trains.jpg');
    background-size: cover;
    background-position: center; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 80%;
    z-index: 0;
}

@media screen and (max-width: 1184px) {
    .cover__background {
        max-width: 100%;
    }
}