.cover__title {
    position: absolute;
    top: 245px;
    margin: 0;
    text-align: center;
    max-width: 560px;
    font-family: 'Inter-Black', sans-serif;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    z-index: 2;
}

@media screen and (max-width: 1184px) {
    .cover__title {
        top: calc(245px - (1184px - 100vw)*0.3125);
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        max-width: calc(560px - (768px - 100vw)*17/28);
        font-size: calc(72px - (768px - 100vw)*5/56);
        line-height: calc(76px - (768px - 100vw)*41/448);
        top: calc(115px - (768px - 100vw)*41/224);
    }
}